doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/chartjs/Chart.js')
    script(src='/javascripts/tweetchart.js')
  body
    block content
